@namespace BlazorServerApp.Filters
@using QueryFilter.Models;
@typeparam TableItem

@if (Column.FilterControl == this)
{
    <select class="form-control form-control-sm" value="@Condition" @onchange="@((x) => Condition = (OperatorType)Enum.Parse(typeof(OperatorType), x.Value.ToString()))">
        @foreach (var option in (OperatorType[])Enum.GetValues(typeof(OperatorType)))
        {
            <option value="@option">@option.ToString()</option>
        }
    </select>

    <input type="number" class="form-control form-control-sm" @bind-value="FilterValue" />

}